.services-head{
    font-family: 'Circular Std';
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    letter-spacing: 0.2em;
    text-align: left;
    color:#F85E9F;
    ;
  
}
.services-des{

font-family: Circular Std;
font-size: 40px;
font-weight: 700;
line-height: 50px;
text-align: left;

}