.topdestination_head{
    font-family: Circular Std;
font-size: 23px;
font-weight: 700;
line-height: 27.6px;
letter-spacing: 0.2em;
text-align: left;
color: #F85E9F;
;
}
.topdestination_head2{

font-family: Circular Std;
font-size: 44px;
font-weight: 700;
line-height: 52.8px;
text-align: left;


}
.carousel1{
    width: 373.33px;
height: 350px;
gap: 0px;
border-radius: 32px 32px 0px 0px;
opacity: 0px;

}
.carousel-head{
 
font-family: Circular Std;
font-size: 23px;
font-weight: 700;
line-height: 27.6px;
text-align: left;

}
.rupees-carousel{
color:#F85E9F;
font-family: Circular Std;
font-size: 23px;
font-weight: 700;
line-height: 27.6px;
text-align: left;

}
.p-carousel{
 
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 28.8px;
text-align: left;

}
.star_carousel{

    font-family: Circular Std;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    text-align: left;
    
color:  #FF5722;

}

.rightarrow-carousel{
    
    width: Fixed (1,184px)px;
height: Hug (867px)px;
top: 1685px;
left: 128px;
padding: 64px 0px 64px 0px;
gap: 64px;
opacity: 0px;
color: white
;
}
.FaArrowLeftLong{
    color: black;
}
